td {
  cursor: pointer;
}

.available {
  background: #28a745;
  color: white;
}

.not-available {
  background: #dc3545;
  color: white;
}

.working {
  background: #ffc107;
  color: white;
}

.table {
  margin-top: 20px;
}

.new-person {
  border-top: 2px solid white;
}
