<tr>
{% for field in form.hidden_fields %}
	{{ form.employee }}
	{% cycle %}
	{% if forloop.counter == 1 %}
		<td>{{ name }}</td><td>Morning</td>
	{% elif forloop.counter == 6 %}
		<td></td><td>2:00 - 2:30</td>
	{% elif forloop.counter == 11 %}
		<td></td><td>Afternoon</td>
	{% elif forloop.counter == 16 %}
		<td></td><td>5:30 - 6:00</td>
	{% endif %}
	{% if field.value == "A" %}
		<td class="available">Available</td>
	{% elif field.value == "N" %}
		<td class="not-available">Not Available</td>
	{% elif field.value == "W" %}
		<td class="working">Working</td>
	{% endif %}
	{{ field }}
	{% if forloop.counter|divisibleby:"5" and forloop.counter != 20 %}
		</tr>
		<tr>
	{% endif %}
{% endfor %}
</tr>
