<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="navbar-header">
		<b><a class="navbar-brand" href="#">Skedge</a></b>
	</div>
	<ul class="navbar-nav">
		<li class="nav-item">
			<b><a class="nav-link" href="/availabilites/">Availabilities</a></b>
		</li>
		<li class="nav-item">
			<b><a class="nav-link" href="/schedule/">Schedule</a></b>
		</li>
	</ul>
	<ul class="navbar-nav navbar-right">
		<li class="nav-item">
			<b><a class="nav-link" href="/accounts/password_change/">Change Password</a></b>
		</li>
		<li class="nav-item">
			<b><a class="nav-link" href="/accounts/logout/">Logout</a></b>
		</li>
	</ul>
</nav>
