{% extends "skedge/base_generic.html" %}

{% block script %}
<script>
        $(document).on('click', '.bg-success', function () {
                $(this).removeClass().addClass('bg-danger').text('Not available');
                $(this).next().val("N")
        });

        $(document).on('click', '.bg-danger', function () {
                $(this).removeClass().addClass('bg-warning').text('Working');
                $(this).next().val("W")
        });

        $(document).on('click', '.bg-warning', function () {
                $(this).removeClass().addClass('bg-success').text('Available');
                $(this).next().val("A")
        });

	$(document).ready(function() {
		$('.ajax-form').ajaxForm();
	});
</script>
{% endblock %}

{% block content %}
{% include "skedge/header.html" %}
<h4 class="hh">Enter Employee Availability</h5>
<table class="table table-primary table-striped table-bordered table-hover table-sm">
<thead>
	<tr>
		<th height=30 class="border border-dark">&nbsp;&nbsp;Employee</th>
		<th class="border border-dark">&nbsp;&nbsp;Shift</th>
		<th class="border border-dark">&nbsp;&nbsp;Monday</th>
		<th class="border border-dark">&nbsp;&nbsp;Tuesday</th>
		<th class="border border-dark">&nbsp;&nbsp;Wednesday</th>
		<th class="border border-dark">&nbsp;&nbsp;Thursday</th>
		<th class="border border-dark">&nbsp;&nbsp;Friday</th>
	</tr>
</thead>
</tbody>
{% for employee, form in forms %}
	<form class="ajax-form" action="/availability/" method="post">
		{% csrf_token %}
		{% include "skedge/form_snippet.html" %}
	</form>
{% endfor %}
</tbody>
</table>
<div>
<h5 class="ml">Add new employee</h5>
<form action="/employee/" method="post">
	{% csrf_token %}
	<label class="ml" for="{{ eform.name.id_for_label }}">Name:&nbsp;</label>
	{{ eform.name }}
	<input class="ll" type="submit" value="Add">
</form>
</div>
<div>
<h5 class="ml">Delete Employee</h5>
<form action="/employee/delete/" method="post">
	{% csrf_token %}
	<label class="ml" for="{{ dform.employee.id_for_label }}">Employee:&nbsp;</label>
	{{ dform.employee }}
	<input class="ll" type="submit" value="Delete">
</form>
</div>
<h4 class="ml">Enter required cover</h4>
<form action="/generate/" method="post">
{% csrf_token %}
<table class="table ll table-primary table-bordered table-hover table-striped table-sm">
<thead>
	<tr>
		<th height=30 class="border border-dark">Shift</th>
		<th class="border border-dark">Monday</th>
		<th class="border border-dark">Tuesday</th>
		<th class="border border-dark">Wednesday</th>
		<th class="border border-dark">Thursday</th>
		<th class="border border-dark">Friday</th>
	</tr>
</thead>
</tbody>
	{% for field in param_form %}
		{% if forloop.counter == 1 %}
			<td class="border border-dark">Morning</td>
		{% elif forloop.counter == 6 %}
			<td class="border border-dark">2:00 - 2:30</td>
		{% elif forloop.counter == 11 %}
			<td class="border border-dark">Afternoon</td>
		{% elif forloop.counter == 16 %}
			<td class="border border-dark">5:30 - 6:00</td>
		{% endif %}
		<td class="border border-dark">{{ field }}</td>
		{% if forloop.counter|divisibleby:"5" %}
			</tr>
			{% if forloop.counter != 20 %}
				<tr>
			{% endif %}
		{% endif %}
	{% endfor %}
</tbody>
</table>
<input style="position:absolute; right:50px;"  type="submit" value="Generate">
</form>
<p>&nbsp;</p>
<p>&nbsp;</p>
{% endblock %}
