{% extends "skedge/base_generic.html" %}

{% block script %}
<script>
        $(document).on('click', '.available', function () {
                $(this).removeClass().addClass('not-available').text('Not available');
                $(this).next().val("N")
        });

        $(document).on('click', '.not-available', function () {
                $(this).removeClass().addClass('working').text('Working');
                $(this).next().val("W")
        });

        $(document).on('click', '.working', function () {
                $(this).removeClass().addClass('available').text('Available');
                $(this).next().val("A")
        });
</script>
{% endblock %}

{% block content %}
{% include "skedge/header.html" %}
<table class="table">
	<tr>
		<th>Employee</th>
		<th>Shift</th>
		<th>Monday</th>
		<th>Tuesday</th>
		<th>Wednesday</th>
		<th>Thursday</th>
		<th>Friday</th>
	</tr>
{% for name, form in forms %}
	<form action="/availability/" method="post">
		{% csrf_token %}
		{% include "skedge/form_snippet.html" %}
	</form>
	<br/>
{% endfor %}
</table>
<p>Add new employee</p>
<form action="/employee/" method="post">
	{% csrf_token %}
	{{ eform }}
	<input type="submit" value="Add">
</form>
<br/>
<form action="/generate/" method="post">
	{% csrf_token %}
	{{ param_form }}
	<input type="submit" value="Generate">
</form>
{% endblock %}
