{% extends "skedge/base_generic.html" %}

{% block script %}
<script>
        $(document).on('click', '.bg-warning', function () {
                $(this).removeClass().addClass('bg-danger not-working border border-dark').text('Not Working');
                $(this).next().val("N")
        });

        $(document).on('click', '.bg-danger', function () {
                $(this).removeClass().addClass('bg-warning border border-dark').text('Working');
                $(this).next().val("W")
        });

	$(document).ready(function() {
		$('.ajax-form').ajaxForm();
	});
</script>
{% endblock %}

{% block content %}
{% include "skedge/header.html" %}
<h4 class="hh">Schedule</h4>
<table class="table table-primary table-striped table-bordered table-hover table-sm">
<thead>
        <tr>
                <th height=30 class="border border-dark">&nbsp;&nbsp;Employee</th>
                <th class="border border-dark">&nbsp;&nbsp;Shift</th>
                <th class="border border-dark">&nbsp;&nbsp;Monday</th>
                <th class="border border-dark">&nbsp;&nbsp;Tuesday</th>
                <th class="border border-dark">&nbsp;&nbsp;Wednesday</th>
                <th class="border border-dark">&nbsp;&nbsp;Thursday</th>
                <th class="border border-dark">&nbsp;&nbsp;Friday</th>
	</tr>
</thead>
<tbody>
{% for employee, form in forms %}
        <form class="ajax-form" action="/schedule/" method="post">
                {% csrf_token %}
                {% include "skedge/form_snippet.html" %}
        </form>
{% endfor %}
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
{% endblock %}
