td {
  cursor: pointer;
}

input[type=number]{
  width: 70px;
  margin-left: 10px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 7px;
  outline: 1px solid black;
}

.bg-success {
  color: white;
}

.bg-warning {
  color: white;
}

.bg-danger {
  color: white;
}

.bg-success {
  text-align: center;
  opacity: 0.89;
}

.bg-success:hover {
  opacity: 0.99;
}

.bg-danger {
  text-align: center;
  opacity: 0.89;
}

.bg-danger:hover {
  opacity: 0.99;
}

.bg-warning {
  text-align: center;
  opacity: 0.87;
}

.bg-warning:hover {
  opacity: 0.99;
}

.not-working {
  opacity: 0.65;
}

.not-working:hover {
  opacity: 0.9;
}

.hh {
  margin-top: 15px;
  margin-left: 10px;
}

.ll {
  margin-left: 5px;
}

.ml {
  margin-left: 15px;
}

.new-person {
  border-top: 2px solid white;
}

.right {
  position: absolute;
  right: 20px;
}

.sep {
  border-bottom: 3px solid black;
}
