{% extends "skedge/base_generic.html" %}

{% block content %}
{% include "skedge/header.html" %}
<div class="container-sm">
        <div class="row">
                &nbsp;
        </div>
        <div class="row">
                &nbsp;
        </div>
        <div class="row">
                &nbsp;
        </div>
        <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4 card border-primary">
                        <div class="card-header bg-primary text-white">
                                <ul class="nav nav-pills card-header-pills justify-content-center">
                                        <li class="nav-item">
                                                <h2 class="card-title">Success</h2>
                                        </li>
                                </ul>
                        </div>
                        </div>
                </div>
                <div class="col-sm-4">
                </div>
        </div>
</div>
{% endblock %}
