{% extends "skedge/base_generic.html" %}
{% load widget_tweaks %}

{% block content %}
{% include "skedge/header.html" %}
<div class="container-sm">
	<div class="row">
		&nbsp;
	</div>
	<div class="row">
		&nbsp;
	</div>
	<div class="row">
		&nbsp;
	</div>
	<div class="row">
		<div class="col-sm-4">
		</div>
		<div class="col-sm-4 card border-primary">
			<div class="card-header bg-primary text-white">
				<ul class="nav nav-pills card-header-pills justify-content-center">
					<li class="nav-item">
						<h2 class="card-title">Change Password</h2>
					</li>
				</ul>
			</div>
			<div class="card-body">
			<form action="{% url 'password_change' %}" method="post">
				{% csrf_token %}
			  <div class="form-group">
			    <label for={{ form.old_password.id_for_label }}>Old Password</label>
				{{ form.old_password|add_class:"form-control" }}
			  </div>
			  <div class="form-group">
			    <label for={{ form.new_password1.id_for_label }}>Password</label>
				{{ form.new_password1|add_class:"form-control" }}
			  </div>
			  <div class="form-group">
			    <label for={{ form.new_password2.id_for_label }}>Password</label>
				{{ form.new_password2|add_class:"form-control" }}
			  </div>
				{% if form.errors %}
					<label class="right text-danger">Something went wrong please try again.</label>
					<br/>
					<br/>
				{% endif %}
			  <input type="submit" class="right btn btn-primary" value="Change">
			</form>
			<br/>
			<br/>
			</div>
		</div>
		<div class="col-sm-4">
		</div>
	</div>
</div>
{% endblock %}
